<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="jumbotron">
        <h1 class="display-3">Welcome to the Weather and News</h1>
        <hr class="my-4">
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Take me back</a>
        </p>
    </div>
    <div>
    
    </div>
     <div class="container-fluid">
     <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10">
        <h1>Weather</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Weather Summary</th>
                        <th scope="col">High Temperature</th>
                        <th scope="col">Low Temperature</th>
                    </tr>
                </thead>
                        <% for daily in @forecast["daily"]["data"] %>
                            <tbody>
                            <tr>
                            
                            <th scope="row"><%= daily["time"]%></th>
                            
                           
                            <td><%= daily["summary"]%></td> 
                            
                           
                            <td><%= daily["temperatureHigh"]%> </td> 
                            
                            
                            <td><%= daily["temperatureLow"]%> </td> 
                            </tr> 
                            </tbody>
                        <% end %>
            </table>
        </div>
        <div class="col-md-1"></div>
        </div>    
        </div> 
        <div>
     <div class="container-fluid">
     <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10">
        <p><h1>Today's Top Headlines</h1></p>
        
            <ul>
                <% for zebra in @news["articles"] %>
                <li><a href = "<%= zebra["url"]%>"><%= zebra["title"]%></a></li> 
                <% end %>
            </ul>
        </div>
        <div class="col-md-1"></div>  
        </div>
        </div>      
